# Nuxt
.nuxt
.output
.data
.nitro
.cache
dist

# Node
node_modules
logs
*.log

# Testing
coverage
test-results
playwright-report
.playwright

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
