@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-300-italic.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-400-italic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-500-italic.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-600-italic.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-700-italic.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-300-normal.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-400-normal.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-500-normal.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-600-normal.woff") format("woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Google Sans Code";
  src: url("../fonts/google-sans-code-700-normal.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
